<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jeremy's Projects</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .name-col{
            width: 20%;
        }
        .desc-col{
            width: 30%;
        }

    </style>

    <script>
var PROJECTS = [
    {
        'name': 'CodeHS',
        'description': 'Site for teaching coding to high schools.',
        'link': 'http://codehs.com',
        'status': 'Active',
        'dateStarted': '2012',
        'category': 'Education'
    },
    {
        'name': 'Raunk',
        'description': 'Rate everything and make lists',
        'link': 'http://raunk.com',
        'status': 'Not Active',
        'dateStarted': '2011',
    },
    {
        'name': 'thekeesh.com',
        'description': 'Jeremy\'s personal blog',
        'link': 'http://thekeesh.com',
        'status': 'Active',
        'dateStarted': '2004',
        'category': 'Personal',
    },
    {
        'name': 'jeremykeeshin.com',
        'description': 'Jeremy\'s personal website',
        'link': 'http://jeremykeeshin.com',
        'status': 'Active',
        'dateStarted': '?',
        'category': 'Personal',
    },
    {
        'name': 'Facebook Edgerank Bookmarklet',
        'description': 'Bookmarklet for Facebook to show who Facebook thinks your closest friends are',
        'link': 'http://thekeesh.com/2011/08/who-does-facebook-think-you-are-searching-for/',
        'status': 'Not Active',
        'source': 'https://github.com/jkeesh/fb-friends-bookmarklet',
        'dateStarted': '2011',
    },
    {
        'name': 'TSLA Bot',
        'description': 'Twitter bot to tweet TSLA stock quotes',
        'link': 'https://twitter.com/tsla_bot',
        'status': 'Active',
        'source': 'https://github.com/jkeesh/tsla_bot',
        'dateStarted': '2015',
        'category': 'Twitter Bot',
    },
    {
        'name': 'SPY Bot',
        'description': 'Twitter bot to tweet SPY stock quotes',
        'link': 'https://twitter.com/spy_bot_',
        'status': 'Active',
        'source': 'https://github.com/jkeesh/spy_bot',
        'dateStarted': '2015',
        'category': 'Twitter Bot',
    },
    {
        'name': 'Press Freedom Adventure Game',
        'description': 'An interactive text based adventure game about press freedom for a CS181 (Computer Ethics) project.',
        'link': 'http://thekeesh.com/cs181/',
        'status': 'Active',
        'source': 'https://github.com/jkeesh/adventure',
        'dateStarted': '2011',
        'category': 'School Projects',
    },
    {
        'name': 'Project Status Site',
        'description': 'A site to list descriptions, source code, and statuses for my projects',
        'link': 'http://thekeesh.com/projectlist/',
        'status': 'Active',
        'source': 'https://github.com/jkeesh/project-list',
        'dateStarted': '2015',
        'category': 'Personal',
    },
    {
        'name': 'Mission Dinners',
        'description': 'A site to collect dinner party themes I\'ve hosted',
        'link': 'http://missiondinners.com',
        'status': 'Active',
        'dateStarted': '2013',
        'category': 'Personal',
    },
    {
        'name': 'Mission Book Club',
        'description': 'A site to list our book club reading list',
        'link': 'http://missionbookclub.com',
        'status': 'Active',
        'dateStarted': '2013',
        'category': 'Personal',
    },
    {
        'name': 'Realtime Listserve Map',
        'description': 'A realtime map showing the location of visitors to the site, for the Listserve',
        'link': 'https://listserve.firebaseapp.com/',
        'source': 'https://github.com/jkeesh/listserve',
        'status': 'Active',
        'dateStarted': '2015',
        'category': 'Personal',
    },
    // {
    //     'name': 'Bitcoin Shovels',
    //     'description': 'A landing page joke site for bitcoin, selling shovels',
    //     ''
    // }

];



</script>
  </head>
  <body>

<h1>Jeremy's Projects</h1>


<table class="table table-striped">

<tr>
    <th class="name-col">Name</th>
    <th class="desc-col">Description</th>
    <th>Link</th>
    <th>Status</th>
    <th>Source</th>
    <th>Date Started</th>
    <th>Category</th>
</tr>

<script type="text/html" id="row_tmpl">
  <% for ( var i = 0; i < PROJECTS.length; i++ ) { %>
    <tr>
        <td><%= PROJECTS[i].name %></td>
        <td><%= PROJECTS[i].description %></td>
        <td>
            <a target="_blank" href="<%= PROJECTS[i].link %>">
                Link
            </a>
        </td>
        <td class="<%= 5 %>">
            <%= PROJECTS[i].status %>
        </td>
        <td>
            <a target="_blank" href="<%= PROJECTS[i].source %>">
                <%= (PROJECTS[i].source != null ? "source" : "") %>
            </a>
        </td>
        <td><%= PROJECTS[i].dateStarted %></td>
        <td><%= PROJECTS[i].category %></td>
    </tr>
  <% } %>
</script>


</table>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/templ.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/install.js"></script>
    <script src="js/sortable.js"></script>
    <link rel="stylesheet" href="css/sortable-theme-minimal.css" />

    <script>
        var x = tmpl("row_tmpl", {});
        $("tbody").append(x);
        console.log(x);
    </script>
  </body>
</html>

