<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jeremy's Projects</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .name-col{
            width: 20%;
        }
        .desc-col{
            width: 30%;
        }

    </style>

    <script src="data.js"></script>
  </head>
  <body>



    <!-- Page Content -->
    <div class="container">
        <div id="maincontent">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Jeremy Keeshin's Projects
                        <small><a target="_blank" href="./table.html">View Table</a></small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->




            <script type="text/html" id="row_tmpl">
              <% for ( var i = 0; i < PROJECTS.length; i++ ) { %>
                <div class="row">
                    <div class="col-md-7">
                        <!-- Image -->
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <!-- Title -->
                        <h3>
                            <a target="_blank" href="<%= PROJECTS[i].link %>">
                                <%= PROJECTS[i].name %>
                            </a>
                        </h3>

                        <!-- Subheading -->
                        <h4>
                            <%= PROJECTS[i].category %> //
                            <%= PROJECTS[i].dateStarted %>
                        </h4>

                        <!-- Description -->
                        <p>
                            <%= PROJECTS[i].description %>
                            (<%= PROJECTS[i].status %>)
                            <a target="_blank" href="<%= PROJECTS[i].source %>">
                                <%= (PROJECTS[i].source != null ? "(source)" : "") %>
                            </a>
                        </p>

                        <!-- Button -->
                        <a class="btn btn-primary" target="_blank" href="<%= PROJECTS[i].link %>">
                            View Project <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!-- ./row -->

                <hr>

              <% } %>
            </script>

        </div> <!-- ./maincontent -->
    </div><!-- ./container -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/templ.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/install.js"></script>
    <script src="js/sortable.js"></script>
    <link rel="stylesheet" href="css/sortable-theme-minimal.css" />

    <script>
        var x = tmpl("row_tmpl", {});
        $("#maincontent").append(x);
        console.log(x);
    </script>
  </body>
</html>

